<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820494065062-ut1uok80p6milk5budme3lpa64tom9qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820494065062-ut1uok80p6milk5budme3lpa64tom9qd</string>
	<key>API_KEY</key>
	<string>AIzaSyCewrn5MZhgDtUXeMsbCuY3yK8NcA5NSLA</string>
	<key>GCM_SENDER_ID</key>
	<string>820494065062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oniyeye</string>
	<key>PROJECT_ID</key>
	<string>oniyeye</string>
	<key>STORAGE_BUCKET</key>
	<string>oniyeye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820494065062:ios:2097118ae3095f70d50367</string>
</dict>
</plist>